.registration-form-container {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    margin: auto;
    background-color: #f9f9f9;
  }
  
  .login-form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-link {
    margin-right: 10px;
  }
  